In [18]:
import requests
import json
import pandas as pd

In [69]:
darksky_api_key = 'f51e3be2a9ebcb1648b62b0ac61cd288'
nyc_lat = 40.7128
nyc_long = -74.0060
years = list(range(2013, 2019))
months = ['07', '12']
days = list(range(1, 32))

all_dates = []
for year in years:
    for month in months:
        for day in days:
            if day < 10:
                str_day = '0' + str(day)
            else:
                str_day = str(day)
            all_dates.append(str(year) + '-' + month + '-' + str_day + 'T23:59:59')

In [94]:
nyc_data = []
for date in all_dates:
    url = f'https://api.darksky.net/forecast/{darksky_api_key}/{lat},{long},{date}?exclude=currently,hourly'
    response = requests.request('GET', url, allow_redirects=False)
    
    # turns each response into a dataframe
    date_info = pd.DataFrame(json.loads(response.text)['daily']['data'])
    
    # adds date and location to each dataframe
    date_info['DATE'] = date
    date_info['CITY'] = 'NEW YORK'
    
    # appends each dataframe to a list
    nyc_data.append(date_info)
    
# concats list of dataframes into one dataframe    
nyc_data = pd.concat(nyc_data)

# saves dataframe as .csv
nyc_data.to_csv('nyc_weather_2013_2018.csv')

/Users/michaeleby1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [97]:
nyc_data

,CITY,DATE,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,...,temperatureMin,temperatureMinTime,time,uvIndex,uvIndexTime,visibility,windBearing,windGust,windGustTime,windSpeed
0,NEW YORK,2013-07-01T23:59:59,77.29,1372683540,74.73,1372749120,77.29,1372683540,74.78,1372671360,...,73.00,1372671540,1372651200,5,1372697100,5.383,168,9.41,1372686960,2.32
0,NEW YORK,2013-07-02T23:59:59,88.16,1372792020,73.66,1372842780,88.16,1372792020,74.73,1372749120,...,72.88,1372749060,1372737600,5,1372790940,6.488,186,9.06,1372813080,2.95
0,NEW YORK,2013-07-03T23:59:59,91.00,1372884960,76.64,1372931040,91.00,1372884960,73.66,1372842780,...,72.02,1372843020,1372824000,6,1372867500,6.717,203,8.26,1372872960,2.34
0,NEW YORK,2013-07-04T23:59:59,96.72,1372966860,75.96,1373017860,96.72,1372966860,76.64,1372931040,...,74.60,1372931100,1372910400,8,1372957380,6.644,222,10.79,1372974720,3.13
0,NEW YORK,2013-07-05T23:59:59,98.22,1373052960,78.00,1373104080,98.22,1373052960,75.96,1373017860,...,74.13,1373017920,1372996800,9,1373041860,6.913,227,11.33,1373058420,3.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NEW YORK,2018-12-27T23:59:59,42.84,1545932460,35.94,1545961500,42.84,1545932460,31.46,1545914400,...,35.12,1545914280,1545886800,2,1545929700,9.718,90,8.34,1545922980,4.25
0,NEW YORK,2018-12-28T23:59:59,56.91,1546041600,50.65,1546079040,56.91,1546041780,38.37,1545973200,...,41.78,1545973200,1545973200,2,1546016280,5.751,180,13.22,1546019460,5.75
0,NEW YORK,2018-12-29T23:59:59,51.81,1546084860,32.03,1546163940,55.32,1546059600,35.18,1546142400,...,39.53,1546142400,1546059600,2,1546102080,9.588,299,21.36,1546117080,8.57
0,NEW YORK,2018-12-30T23:59:59,38.31,1546211940,31.16,1546260300,38.31,1546211940,31.75,1546181940,...,33.52,1546228800,1546146000,1,1546189380,9.539,72,5.14,1546149240,2.93
0,NEW YORK,2018-12-31T23:59:59,39.84,1546276200,38.46,1546301040,42.80,1546315200,31.16,1546260300,...,30.67,1546260300,1546232400,2,1546275660,8.140,135,10.25,1546304520,3.87